%h1 Listing images

%table
  %tr
    %th Name
    %th Size
    %th Url
    %th Thumbnail url
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td= image.name
      %td= image.size
      %td= image.url
      %td= image.thumbnail_url
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
